header{
    padding-top: 30px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav{
   
    &__menu{
        display: flex;
        flex-direction: row;
        a{
            text-decoration: none;
            margin-left: 10px;
        }
    }

    &__socials{
        display: flex;
        flex-direction: row;
        justify-content: center;
        li{
            margin-left: 20px;
        }
        margin-top: 7px;
    }
    a{
        font-family: $navFontFamily;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $white;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

}
.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.circle{
    outline: 1px solid $white;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid #0000;
    margin: 3px;
    margin-top: 7px;
    margin-right: 7px;
}
.circle:hover, a:hover > .circle{
    background-color:$white;
    
}

.link{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}