@mixin btn {
    font-family:$fontFamily;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    margin-top: 57px;
    border: 1px solid $grey;
    padding:  16px 42px;
    width: 39%;

    &:hover {
        background-color: $accent3;
        color:$accent1;
        transition: 0.3s;
    }
}