*{
    outline: 1px solid red;
}
.container{
    max-width: $containerWidth;
    width: 100%;
    margin:  0 auto;
}
.container1{
    max-width: $containerWidth1;
    width: 100%;
    margin: 0 auto;
}
.background{
    width: 100%;
    height: 745px;
    background-image: url('../img/hero.png'),linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%) ;
    background-repeat: no-repeat;
    background-position: center;
}
.btn{
    padding: 16px 42px;
    border: 1px solid $grey;
    width: 40%;
    margin-top: 50px;
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
a{
    text-decoration: none;

}
.hero{
    font-family: $fontFamily;
    color: $white;
        &__text{
            margin-top: 260px;
            height: 389px;
            display: flex;
            justify-content: center;
        }


        &__title{
        font-size: 80px;
        font-weight: 700;

        line-height: 98px;
        letter-spacing: 0.1em;
        }
        &__subtitle{
            margin-top: 20px;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.3em;
        }
        &__scroll{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 190px;
            &:hover img{
               width: 50px;
               height: 50px;
            }
            
        }
}
// END HERO SECTION

// WHAT WE DO SECTION
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.whatwedo{
    margin-top: 130px;
    margin-bottom: 150px;
    &__subtitle{
        font-weight: 700;
        font-size: 44px;
        line-height: 54px;
        color: $grey;
    }
   
    
    &__article{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__p1{
        margin-bottom: 26px;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: $grey;
    }
    &__text{
        margin-top: 20px;
        font-family: $secondFontFamily;
        font-weight: 400;
font-size: 18px;
line-height: 30px;
margin-bottom: 40px;

/* or 167% */


color: $grey;
    }
    &__main-article{
    a{
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: black;
    }
 
   
} 
    &__flex-location{
        margin-top: 62px;
    }
    &__location{
        font-family: $secondFontFamily;
        margin-left: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #000000;
}
   
}
.line{
    width: 100px;
    height: 0px;
    margin-bottom: 30px;
    border: 1px solid $grey;
}
.sub{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 89px;
}
//END SECOND SECTION

//NEWS SECTIONS
.news{
    &__background{
        width: 100%;
        height: 1035px;
        background-image: url('../img/news.png');
        background-repeat: no-repeat;
        
    }
    &__subtitle{
        color: $white;
    }
    .line{
        border: 1px solid $white;
    }
    .sub{
        padding-top: 135px;
    }
    

}
.gallery{
    .grid-2__right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .first__column{
            display: grid;
            grid-template-rows: 1fr 1fr;
        }
    }
    &__div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 100px;
    }
    &__btn{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn a{
        text-decoration: none;
    }

}
.map{
    width: 100%;
    height: 700px;
    background-image: url('../img/map.png');
}
.map-section{
    &__grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .bg-w{
        background: $white;
        width: 770px;
        height: 450px;
        position: relative;
        left: 25%;
        top: 60%;
    }
    .sub{
        padding-top: 50px;
        margin-bottom: 40px;
    }
    &__form-info{
        display: flex;
        flex-direction: row;
    }
    &__form-text{
        margin-top: 0px;
        input{
            width: 310px;
            height: 41px;
            margin-bottom: 30px;
        }
    }
    &__form-text{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    &__btn{
        padding: 11px 42px;
        margin-top: 0;
    }
}
.btn:hover{
    background: #000;
    color: $white;
}
// .owl-theme .owl-nav {
//     display: none;
// }
// .owl-theme .owl-dots {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
// }
// .owl-dot{
//     margin-top: 40px;
// }