$containerWidth: 1170px;
$containerWidth1: 1600px;
$white: white;
$grey: #2C4058;
$fontFamily: 'Montserrat', 'sans serif';
$secondFontFamily: 'Open sans', 'sans serif';
$navFontFamily:'Source Sans Pro', 'sans serif';
