html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

header {
  padding-top: 30px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .main-nav__menu {
  display: flex;
  flex-direction: row;
}
header a {
  color: white;
  display: flex;
  flex-direction: row;
}

.main-nav__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7px;
}
.main-nav__socials li {
  margin-left: 20px;
}
.main-nav a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;
  color: white;
}
.main-nav a .circle {
  position: relative;
  bottom: 3px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.circle {
  outline: 1px solid white;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 3px;
  margin-top: 7px;
  margin-right: 7px;
}

.circle:hover, a:hover > .circle {
  background-color: white;
}

.link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-hamburger {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
}

.hamburger {
  visibility: hidden;
  width: 39px;
  height: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hamburger__span {
  width: 30px;
  height: 2px;
  background-color: black;
  margin-top: 5px;
}

.nav-logos {
  width: 160px;
  height: 45px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.container1 {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.x, .x1, .x2, .x3, .x4 {
  border: 1px solid black;
  width: 14px;
  position: absolute;
  top: 2px;
  right: 2px;
  background: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.x a, .x1 a, .x2 a, .x3 a, .x4 a {
  text-decoration: none;
  color: #000;
  margin-left: 3px;
}

.modal, .modal2, .modal3, .modal4, .modal5 {
  display: none;
}

.background {
  width: 100%;
  height: 745px;
  background-image: url("../img/hero.png"), linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
  background-repeat: no-repeat;
  background-position: center;
}

.btn {
  padding: 16px 42px;
  border: 1px solid #2C4058;
  width: 40%;
  margin-top: 50px;
  font-family: "Montserrat", "sans serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

a {
  text-decoration: none;
}

.hero {
  font-family: "Montserrat", "sans serif";
  color: white;
}
.hero__text {
  margin-top: 200px;
  height: 389px;
  display: flex;
  justify-content: center;
}
.hero .owl-theme .owl-nav {
  display: none;
}
.hero__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 98px;
  letter-spacing: 0.1em;
}
.hero__subtitle {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.3em;
}
.hero__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
}
.hero__scroll:hover img {
  width: 50px;
  height: 50px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.whatwedo {
  margin-top: 130px;
  margin-bottom: 150px;
}
.whatwedo__subtitle {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2C4058;
}
.whatwedo__article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatwedo__p1 {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
}
.whatwedo__text {
  margin-top: 20px;
  font-family: "Open sans", "sans serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 40px;
  /* or 167% */
  color: #2C4058;
}
.whatwedo__main-article a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
}
.whatwedo__flex-location {
  margin-top: 62px;
}
.whatwedo__location {
  font-family: "Open sans", "sans serif";
  margin-left: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.line {
  width: 100px;
  height: 0px;
  margin-bottom: 30px;
  border: 1px solid #2C4058;
}

.sub {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 89px;
}

.a {
  width: 100%;
}
.a article {
  margin-left: -50px;
}

.news .owl-carousel .owl-nav button.owl-prev {
  background: url("../assets/prev.svg") no-repeat center;
  width: 50px;
  height: 50px;
  position: relative;
  left: -700px;
  top: -300px;
}
.news .owl-carousel .owl-nav button.owl-prev span {
  display: none;
}
.news .owl-carousel .owl-nav button.owl-next {
  background: url("../assets/next.svg") no-repeat center;
  width: 50px;
  height: 50px;
  position: relative;
  right: -700px;
  top: -300px;
}
.news .owl-carousel .owl-nav button.owl-next span {
  display: none;
}
.news .owl-theme .owl-dots {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 20px;
  position: relative;
  bottom: 0;
  left: 45%;
}
.news .owl-theme .owl-dot {
  margin-left: 20px;
}
.news__background {
  width: 100%;
  height: 1035px;
  background-image: url("../img/news.png");
  background-repeat: no-repeat;
}
.news__subtitle {
  color: white;
}
.news .line {
  border: 1px solid white;
}
.news .sub {
  padding-top: 135px;
}
.news__article {
  width: 100%;
  height: 514px;
  background-color: white;
}
.news__author {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.news__author img {
  border-radius: 50%;
  width: 78px;
  height: auto;
}
.news .grid-3 {
  margin-left: 90px;
}
.news h4 {
  font-family: "Montserrat", "sans serif";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #2C4058;
  margin: 20px;
}
.news p {
  margin: 20px;
}

.gallery .grid-2__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gallery .grid-2__right .first__column {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.gallery__div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}
.gallery__btn {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__btn a {
  text-decoration: none;
}

.map {
  width: 100%;
  height: 700px;
  background-image: url("../img/map.png");
}

.map-section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.map-section .bg-w {
  background: white;
  width: 770px;
  height: 450px;
  position: relative;
  left: 25%;
  top: 60%;
}
.map-section .sub {
  padding-top: 50px;
  margin-bottom: 40px;
}
.map-section__form-info {
  display: flex;
  flex-direction: row;
}
.map-section__form-text {
  margin-top: 0px;
}
.map-section__form-text input {
  width: 310px;
  height: 41px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid gray;
  opacity: 0.2;
}
.map-section__form-text input::-moz-placeholder {
  padding: 10px;
}
.map-section__form-text input:-ms-input-placeholder {
  padding: 10px;
}
.map-section__form-text input::placeholder {
  padding: 10px;
}
.map-section__form-text input:focus {
  outline: none !important;
  border-bottom: 1px solid black;
  opacity: 1;
}
.map-section__form-text {
  display: flex;
  justify-content: end;
  align-items: center;
}
.map-section__btn {
  padding: 11px 42px;
  margin-top: 0;
}

.btn:hover {
  background: #000;
  color: white;
}

.ab {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  br {
    display: none;
  }
  .container {
    padding-left: 20px;
  }
  header a {
    font-size: 12px;
    color: white;
  }
  header .main-nav__menu a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
  }
  header .main-nav__menu a .circle {
    position: relative;
    bottom: 3px;
  }
  .whatwedo__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whatwedo__image img {
    width: 100%;
  }
  .whatwedo__p1, .whatwedo__text {
    font-size: 15px;
  }
  .whatwedo__subtitle {
    font-size: 19px;
  }
  .whatwedo__article {
    padding-left: 20px;
  }
  .background {
    height: 953px;
  }
  .hero__title {
    font-size: 50px;
  }
  .hero__subtitle {
    font-size: 15px;
  }
  .gallery .image {
    width: 49%;
  }
  .gallery__image {
    width: 100%;
    padding-right: 10px;
  }
  .gallery .btn {
    padding: 16px 16px;
  }
  .news__article {
    width: 240px;
    padding: 0;
    margin: 0;
  }
  .news .owl-carousel .owl-nav button.owl-prev, .news .owl-carousel .owl-nav button.owl-next {
    position: relative;
    top: 0;
    left: 0;
  }
  .news h4 {
    font-size: 17px;
  }
  .news p {
    font-size: 12px;
    line-height: 18px;
  }
  .news .owl-theme .owl-dots {
    position: relative;
    left: 310px;
    margin-top: 10px;
  }
  .map-section .bg-w {
    position: relative;
    left: 40px;
    width: 90%;
  }
  .map-section__form-text {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .main-footer__logo {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 767px;
    margin: 0 auto;
    width: 100%;
  }
  .hero__title {
    font-size: 30px;
  }
  .hero__subtitle {
    font-size: 10px;
  }
  .owl-theme .owl-dot span {
    width: 10px;
  }
  .whatwedo__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whatwedo__image img {
    width: 100%;
  }
  .whatwedo__location {
    font-size: 8px;
  }
  .whatwedo__p1, .whatwedo__text {
    font-size: 9px;
    line-height: 15px;
  }
  .whatwedo__subtitle {
    font-size: 15px;
  }
  .whatwedo__article {
    padding-left: 15px;
  }
  .whatwedo .btn {
    padding: 10px 30px;
    font-size: 10px;
  }
  .whatwedo br {
    display: none;
  }
  .news .owl-theme .owl-dots {
    position: relative;
    left: 0;
  }
  .news .owl-theme .owl-dot {
    margin-left: 15px;
  }
  .news__article {
    width: 94%;
    margin: 10px;
  }
  .gallery .image {
    width: 48%;
  }
  .gallery__image {
    width: 100%;
    padding-right: 10px;
  }
  .gallery .btn {
    padding: 10px 26px;
    font-size: 8px;
  }
  .map-section .bg-w {
    position: relative;
    left: 40px;
    width: 90%;
  }
  .map-section img {
    display: none;
  }
  .map-section__form-text {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .main-footer__contact {
    margin-left: -200px;
  }
  .main-footer__contact .main-footer__socials {
    margin-left: 0;
  }
  .main-footer__contact .main-footer__logo img {
    width: 150px;
  }
  .main-footer__contact .main-footer__logo p {
    font-size: 10px;
    margin-top: 10px;
  }
  .nav-links-visible,
.nav-logos-visible {
    visibility: hidden;
  }
  .nav-hamburger {
    width: 27%;
    position: absolute;
    right: 9%;
  }
  .nav-hamburger a {
    margin-left: 0;
  }
  .hamburger {
    visibility: visible;
    position: absolute;
    right: -20%;
    top: 0;
    height: 100%;
  }
  .main-nav__logo, .main-nav__menu .link, .main-nav__socials {
    display: none;
  }
  .cover {
    height: 100%;
  }
  .header__logo {
    margin-left: 5%;
  }
  .header__logo img {
    width: 160px;
    height: 35px;
  }
}
.owl-theme .owl-dots {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
  position: relative;
  bottom: 488px;
}
.owl-theme .owl-dot {
  margin-top: 40px;
}

.owl-carousel {
  height: 647px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: transparent;
  display: block;
  transition: opacity 200ms ease;
  border-radius: 30px;
  outline: 1px white solid;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: white;
}

.bg {
  width: 100%;
  height: 549px;
  background: url("../img/footer.png"), linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
}

.main-footer__contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 200px;
}
.main-footer__socials {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 175px;
}
.main-footer__socials img {
  margin-right: 20px;
  margin-top: -73px;
}
.main-footer__text {
  font-family: "Montserrat", "sans serif";
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 41px;
}
.main-footer__logo {
  margin-left: 205px;
}/*# sourceMappingURL=main.css.map */